* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --primary-text-color: #333;
    --seconadry-text-color: #666;
}
body {
    font-family: 'Montserrat', sans-serif;
}

/* Header */
.breadcrumb {
    padding: 20px 30px;

}

.breadcrumb nav {
    font-size: 16px;
    color: #888;
}

.breadcrumb a {
    color: #888;
    text-decoration: none;
    transition: color 0.3s ease;
    margin-inline: 8px;
}

.breadcrumb a:hover {
    color: var(--primary-text-color);
    text-decoration: underline;
}

.breadcrumb span {
    color: var(--primary-text-color);
    font-weight: 500;
}

/* Main Container */
.main-container {
    max-width: 1500px;
    margin: 0 auto; 
    padding: 0 40px;
    padding-bottom: 20px;
}

/* Product Section */
.product {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 10px 0;
    width: 100%;

}
/* Left Section */
.product-image {
    flex: 4;
    min-width: 300px; 
    padding-bottom: 20px;

}

.gallery {
    width: 100%;
    overflow: hidden;
}
.main-image-container {
    position: relative;
    width: 100%;
    height: 430px;

}
.main-image-container span {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: var(--primary-text-color);
    cursor: pointer;
    background-color: #e2d7d7;
    border-radius: 100%;
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
    z-index: 999;
}

.main-image-container span:hover {  
    opacity: 0.8;
}

.left-arrow {
    left: 10px;
}

.right-arrow {
    right: 10px;
}
.main-image {
    width: 100%;
    position: absolute;
    object-fit: cover;
    border-radius: 6px;
    height: 420px;
    display: none;
}
.main-image#img1 {
    display: block; 
}
.main-image:target {
    display: block;
}
.main-image:not(:target) {
    display: none;
}
.main-image#img1:not(:target) {
    display: block;
}

.thumbnails {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    margin-top: 5px;
    width: 100%;
    height: 100px;
}

.thumbnails img {
    height: 100px;
    width: 100%;
    object-fit: cover;
    border-radius: 6px;
    cursor: pointer;
    transition: all 0.3s ease;

}

.thumbnails img:hover {
    opacity: 0.8;
}

.product-description {
    width: 100%;
    text-align: left;
    margin-top: 2rem;
}

.product-description h1 {
    margin-bottom: 1rem;
    font-weight: 700;
}

.product-description h3 {
    font-size: 1.3rem;
    font-weight: 500;
}
.product-description p {
    font-size: 1rem;
    color: var(--seconadry-text-color);
    margin-top: 1rem;
    font-weight: 500;
}

/* Right section */
.product-info {
    flex: 3;
    min-width: 300px; 
    box-shadow: var(--primary-text-color) 0px 0px 2px;
    border-radius: 6px;
    padding: 15px;
    display: flex;
    flex-direction: column;
}

.brand-info {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    justify-content: space-between;
    width: 100%;
}

.brand-info img {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    object-fit: cover;
}
.brand-info span {
    display: flex;
    gap: 25px;
}
.brand-info span img {
    width: 24px;
    height: 24px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.brand-info span img:hover {
    opacity: 0.8;
}
.brand-description {
    margin-block: 20px;
}
.brand-description h2 {
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 10px;
    line-height: 1.2;
    color: var(--primary-text-color);
}

.brand-description h4 {
    font-size: 1rem;
    color: var(--seconadry-text-color);
    margin-bottom: 5px;
    font-weight: 600;
    line-height: 1.2;
}

.brand-description h4 span {
    color: var(--primary-text-color);
    margin-left: 5px;
}

.rating {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
}
.rating p {
    font-size: 1rem;
    font-weight: 500;
    color: var(--seconadry-text-color);
}
.rating p:first-of-type{
    color: var(--primary-text-color);
}
.price {
    display: flex;
    align-items: center;
    gap: 13px;
    margin-block: 15px;
}
.price h3 {
    font-size: 1rem;
    font-weight: 500;
    color: var(--seconadry-text-color);
}
.price p {
    font-weight: 700;
    color: var(--primary-text-color);
    font-size: 1.2rem;
    
}

.price .discount-amount {
    text-decoration: line-through;
    color: var(--seconadry-text-color);
    font-size: 1rem;
    font-weight: 500;
}
.price .discount {
    background-color: #bff2b3;
    padding: 7px;
    border-radius: 12px;
    font-weight: 600;
    color: #40a828;
}

.quantity {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-block: 15px;
    background-color: #f5f5f5;
    padding: 20px;
    border-radius: 12px;
    gap: 12px;
    
}
.quantity-container {
    width: 100%;
    position: relative;
}
.quantity-container span {
    position: absolute;
    top: 50%;
    cursor: pointer;
}
.add-icon {
    right: 0;
    transform: translate(-50%, -45%);
}
.delete-icon {
    left: 0;
    transform: translate(50%, -45%);
}
.quantity input{
    width: 100%;
    padding: 10px;
    border-radius: 12px;
    border: none;
    box-shadow: var(--seconadry-text-color) 0px 0px 2px;
    font-size: 1rem;
    font-weight: 500;
    text-align: center;
    font-size: 1rem;
    font-weight: 700;
    color: var(--seconadry-text-color);
    outline: none;
    appearance: textfield; /* Hide default number buttons */
}
/* Hide default number input arrows */
input[type="number"]::-webkit-inner-spin-button {
    appearance: none;
    -webkit-appearance: none;
    margin: 0;
}

.checkout-btn {
    width: 100%;
    border-radius: 12px;
    padding: 10px;
    background-color: #cd8032;
    border: 1px solid transparent;
    color: white;
    font-weight: 400;
    font-size: 1rem;
    cursor: pointer;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    transition: all 0.3s ease;
}
.checkout-btn:hover {
    background-color: white;
    color: #cd8032;
    border-color: #cd8032;
}
.shipping-info {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 15px;
    text-align: left;
    width: 100%;
}
.shipping-info p {
    font-size: 0.9rem;
    color: var(--primary-text-color);
    font-weight: 500;
}
.shipping-info p:first-of-type, .shipping-info p:nth-of-type(2) {
    color: green;
}
.options {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 12px;

}
.options button {
    width: 100%;
    border-radius: 12px;
    padding: 10px;
    border: none;
    text-align: left;
    font-size: 1rem;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}
.options button .left-icon {
    display: flex;
    align-items: center;
    gap: 8px;
}

/* Responsive Design */
@media (max-width: 768px) {
    .product {
        flex-direction: column; 
    }

    .product-image, .product-info {
        width: 100%; 
        flex:1;
    }
    .main-container {
        padding: 0 20px;
    }
}